body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center; /* Memusatkan teks */
}

header {
    background-color: rgb(95, 181, 194);
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.opening {
    text-align: center;
    text-shadow: 4px 4px 10px black;
    padding: 100px;
    background-color: rgb(95, 181, 194);
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 0 auto;
    width: 200px;
    background-color: azure;
}

.about, .summary {
    text-align: center;
    margin: 0 auto;
}

section.view {
    background-color: antiquewhite;
    padding: 50px;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(95, 181, 194);
    color: white;
}

section.view-2 {
    background-color: antiquewhite;
    padding: 20px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

.contact {
    background-color: antiquewhite;
    padding: 20px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    max-width: 600px;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(95, 181, 194);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #70b3c5;
}
